body {
	font-size:19 px;
}

table{
	width: 50%;
	margin: 30px auto;
	border-collapse: collapse;
	text-align: left ;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th, td {
	
	border: none;
	height: 30px;
	padding: 2px;
}
